.background-gradient {
	background: linear-gradient(
		to bottom,
		#d100ff,
		#2af598,
		#fec051,
		#fee140,
		#fa709a
	);
	background-size: 100%;
	background-repeat: no-repeat;
}

.background-gradient:before {
	content: "";
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.2),
		#21d4fd 75%
	);
}

#inputSearch {
	color: black;
}

.highlight {
	color: white;
	background-color: #20bf55;
	background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

	text-decoration: underline;
}

.drag-comment {
	color: white;
	text-shadow: 1px 2px 1px rgba(150, 150, 150, 1);
}

.jumbotron {
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	color: #fff;
	background-image: linear-gradient(155deg, #25b3de 0%, #28c7c0 50%, #0cfefc 100%);
	text-shadow: 1px 2px 1px rgba(150, 150, 150, 1);
}

.card {
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
}

/*
Button Styling
 */
.but {
	padding: 0.6rem 2rem;
	margin: 5px;
}

.but-primary {
	color: #fff;
	border-radius: 10px;
	background-image: linear-gradient(122deg, #633991 0%, #c1156c 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.but-primary:hover,
.but-primary:focus,
.but-primary:active,
.but-primary:not([disabled]):not(.disabled).active,
.but-primary:not([disabled]):not(.disabled):active,
.show > .but-primary.dropdown-toggle {
	background-image: linear-gradient(122deg, #4e2a75 0%, #a01059 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #fff;
}


/*.but-info {*/
	/*color: #fff;*/
	/*border-radius: 10px;*/
	/*background-image: linear-gradient(122deg, #00c0ef 0%, #9fecff 100%);*/
	/*box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);*/
	/*font-weight: 500;*/
	/*border: 0;*/
/*}*/

/*.but-info:hover,*/
/*.but-info:focus,*/
/*.but-info:active,*/
/*.but-info:not([disabled]):not(.disabled).active,*/
/*.but-info:not([disabled]):not(.disabled):active,*/
/*.show > .but-info.dropdown-toggle {*/
	/*background-image: linear-gradient(122deg, #00acd6 0%, #65ddfb 100%);*/
	/*box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);*/
	/*color: #fff;*/
/*}*/

.but-success {
	color: #fff;
	border-radius: 10px;
	background-image: linear-gradient(122deg, #28c7c0 0%, #00ff8b 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.but-success:hover,
.but-success:focus,
.but-success:active,
.but-success:not([disabled]):not(.disabled).active,
.but-success:not([disabled]):not(.disabled):active,
.show > .but-success.dropdown-toggle {
	background-image: linear-gradient(122deg, #24b3ad 0%, #00e27b 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #fff;
}

.but-warning {
	color: #fff;
	border-radius: 10px;
	background-image: linear-gradient(122deg, #f49220 0%, #ffbe56 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.but-warning:hover,
.but-warning:focus,
.but-warning:active,
.but-warning:not([disabled]):not(.disabled).active,
.but-warning:not([disabled]):not(.disabled):active,
.show > .but-warning.dropdown-toggle {
	background-image: linear-gradient(122deg, #e07f1b 0%, #fbaa33 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #fff;
}

/*.but-danger {*/
	/*color: #fff;*/
	/*border-radius: 10px;*/
	/*background-image: linear-gradient(122deg, #d64635 0%, #ff604d 100%);*/
	/*box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);*/
	/*font-weight: 500;*/
	/*border: 0;*/
/*}*/

/*.but-danger:hover,*/
/*.but-danger:focus,*/
/*.but-danger:active,*/
/*.but-danger:not([disabled]):not(.disabled).active,*/
/*.but-danger:not([disabled]):not(.disabled):active,*/
/*.show > .but-danger.dropdown-toggle {*/
	/*background-image: linear-gradient(122deg, #ce4333 0%, #f55c4a 100%);*/
	/*box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);*/
	/*color: #fff;*/
/*}*/
